.idea

#.venv
venv
.venv
.env

#data
/src/data/classifier_data/*
/src/data/new_classifier_data/*
/src/data/detection_data/*
/src/data/resnet_data/*
/src/data/weights/*
/src/data/classification_data/*
/src/data/fall_detection_v1/*

/src/models/classifiers/pose/dataset/*

/src/models/classifiers/pose/fall_pose_keypoint.csv
/src/models/classifiers/pose/fall_pose_keypoint_v2.csv

/src/models/fall_detector/adaboost/data/*
/src/models/fall_detector/adaboost/fall_detection_dataset.csv



#models
src/models/classifiers/img/cnn/best_model.pth

src/models/fall_detector/runs/*
src/models/fall_detector/src/*

src/yolo11n-pose.pt



#config
/config/*

#movies
src/local_movies/*