.idea
venv
.venv
.env
/src/data/classifier_data/*
/src/data/detection_data/*
/src/models/weights/*
/src/models/metrics/__pycache__/*
/src/pipeline/__pycache__/*
/src/models/classifiers/__pycache__/*
/config/*
src/models/classifiers/best_model.pth
src/data/evaluation_data/test_videos/*
src/models/detector/runs/*
src/models/detector/src/*
*.png
*.jpeg
*.jpg
*.txt