.idea
venv
.venv
.env
/src/data/classifier_data/*
/src/data/new_classifier_data/*
/src/data/detection_data/*
/src/data/weights/*
/src/models/metrics/__pycache__/*
/src/pipeline/__pycache__/*
/src/models/classifiers/__pycache__/*
/config/*
src/models/classifiers/best_model.pth
src/data/pipeline_eval_data/test_videos/*
src/models/fall_detector/runs/*
src/models/fall_detector/src/*

/src/data/movies_2_use/__pycache__/*
/src/utils/__pycache__/*

src/local_movies/*
src/data/classification_data/*